:root {
  --main-color: #00ADB5;
  --main-color-alt: #004f53;
  --secondary-color: #e52b50;
  --secondary-color-alt: #8f1b32;
  --secondary-color-alt2: #7d182c;
  --secondary-color-alt3: #6b1426;
  --white: #ffffff;
  --black: #000000;
  --background: #222831;
  --background-light: #efefef;
  --shadow: #9e9e9e;
}

html, body {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  background-color: var(--background);
  min-width: 320px;
  font-family:'Open Sans', sans-serif;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
}
